{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}


{% if ea.request.query.get('tmp') is defined and ea.entity.instance.template is defined and ea.entity.instance.template is not null %}
<img style="width:200px;" src="{{asset('invoices/images/' ~ ea.entity.instance.template.templateName ~ '.png') }}" >
{% endif %}