{% extends 'base.html.twig' %}

{% block title %}Get Invoice{% endblock %}

{% block body %}
<h1>Get Invoice</h1>
<form method="get" action="{{path('invoice_generator')}}">
    <input type="text" name="i-n" placeholder="Invoice Number">
    <button type="submit">Get Invoice</button>
</form>
{% endblock %}
