{% extends 'base.html.twig' %}

{% block title %}{{invoice.client.name}} | {{invoice.type}} | {{invoice.invoiceNumber}} {% endblock %}
{% block stylesheets %}
<style>
.invoice_style3 .invoice-table thead th {
    background: -webkit-linear-gradient(top, {{invoice.theme.priColor}} -35.51%, #000000 196.64%);
    background: linear-gradient(180deg, {{invoice.theme.priColor}} -35.51%, #000000 196.64%);
}
{% if invoice.invoiceItems|length > 4 %}
@media print {
    body {
    zoom: 95%; /* Adjust the percentage as needed to fit content on one page */
  }
}
{% endif %}
</style>
{% endblock %}
{% block body %}
<body class="it-template">
{% set logo_width = invoice.client.company.logoType == 'square' ? 150 : 300 %}
{% set max_height = invoice.client.company.logoType == 'square' ? 150 : 70 %}

    <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->


    <!--********************************
   		Code Start From Here 
	******************************** -->

    <div class="invoice-container-wrap">
        <div class="invoice-container">
            <main>
                <!--==============================
Invoice Area
==============================-->
                <div class="th-invoice invoice_style3">
                    <div class="download-inner" id="download_section">
                        <!--==============================
	Header Area
==============================-->
                        <header class="th-header header-layout2">
                            <div class="row align-items-start justify-content-between">
                                <div class="col-auto">
                                    <div class="header-logo">
                                        <a href="{{invoice.client.company.website}}"><img style="max-width:{{logo_width}}px;max-height:{{max_height}}px" src="/invoices/images/{{invoice.client.company.logoPath}}" alt="Joe SEO Invoice Generator"></a>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <h1 class="big-title">{{invoice.type}}</h1>
                                </div>
                            </div>
                        </header>
                        <div class="row justify-content-between mb-30 mt-40 pt-3">
                            <div class="col-auto">
                                {% if invoice.type == 'invoice' %}
                                <div class="invoice-left">
                                    <b>Invoiced To:</b>
                                    <address>
                                        {{invoice.client.name}} <br>
                                        {{invoice.client.contactDetails}} <br>
                                        {{invoice.client.address}} <br>
                                        {{invoice.client.email}} <br>
                                        {{invoice.client.phone}} <br>
                                    </address>
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-auto">
                                <b>From:</b>
                                <address>
                                    {{invoice.client.company.email}}<br>
                                    {{invoice.client.company.phone}}<br>
                                    {{invoice.client.company.website}}<br>
                                </address>

                                <p class="invoice-number mb-2 pb-1"><b>{{invoice.type|title}} No: </b>#{{invoice.invoiceNumber}}</p>
                                <p class="invoice-date"><b>Date: </b>{{invoice.date|date('d-m-Y')}}</p>
                                {% if invoice.type == 'invoice' %}<p class="invoice-date"><b>Due Date: </b>{{invoice.dueDate|date('d-m-Y')}}</p>{% endif %}
                            </div>
                        </div>
                        <table class="invoice-table td-big table-stripe-column">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Service Description</th>
                                    <th>Price</th>
                                    <th>Qty</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in invoice.invoiceItems %}
                                <tr>
                                    <td>{{loop.index}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.unitPrice|number_format}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.totalAmount|number_format}}</td>
                                </tr>
                            {% endfor %}
                            {% if invoice.invoiceItems|length < 3 %}                            
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                {% if invoice.type == 'invoice' %}
                                <div class="invoice-left text-white mb-30">
                                    <b>Payment Info:</b>
                                    <p style="max-width:280px;" class="mb-0">{{invoice.paymentInfo|nl2br}}</p>
                                </div>
                                {% endif %}
                                <div class="invoice-left text-white">
                                    <b>Terms & Conditions</b>
                                    <p style="max-width:280px;" class="mb-0">{{invoice.termsConditions|nl2br}}</p>
                                </div>
                            </div>
                            <div class="col-auto">
                            {% if invoice.taxType == 'inclusive' %}
                                <table class="total-table">
                                    <tr>
                                        <th>Sub Total:</th>
                                        <td>KSh {{invoice.totalAmount|number_format}}</td>
                                    </tr>
                                    <tr>
                                        <th>Tax:</th>
                                        <td>KSh {{invoice.tax|number_format}}</td>
                                    </tr>
                                    <tr>
                                        <th>Discount:</th>
                                        <td>KSh {{invoice.discount|number_format}}</td>
                                    </tr>
                                    {% set finalAmount = (invoice.totalAmount - invoice.tax) - invoice.discount %}
                                    <tr>
                                        <th>Total:</th>
                                        <td>KSh {{finalAmount|number_format}}</td>
                                    </tr>
                                </table>
                            {% else %}
                                <table class="total-table">
                                    <tr>
                                        <th>Sub Total:</th>
                                        <td>KSh {{invoice.totalAmount|number_format}}</td>
                                    </tr>                                    
                                    <tr>
                                        <th>Tax:</th>
                                        <td>KSh {{invoice.tax|number_format}}</td>
                                    </tr>
                                    <tr>
                                        <th>Discount:</th>
                                        <td>KSh {{invoice.discount|number_format}}</td>
                                    </tr>
                                    {% set finalAmount = (invoice.totalAmount + invoice.tax) - invoice.discount %}
                                    <tr>
                                        <th>Total:</th>
                                        <td>KSh {{finalAmount|number_format}}</td>
                                    </tr>
                                </table>
                            {% endif %}
                                <div class="invoice-note2 mt-25">
                                    <p style="width:200px;" class="mb-0"><b>NOTE:</b> {{invoice.notes|nl2br}}.</p>
                                </div>
                            </div>
                        </div>
                        <div class="body-shape1">
                            <svg width="416" height="139" viewBox="0 0 416 139" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M366.015 139H0L61.7157 0H416L366.015 139Z" fill="url(#paint0_linear_307_104)" />
                                <defs>
                                    <linearGradient id="paint0_linear_307_104" x1="280.311" y1="-75.7221" x2="280.311" y2="120.434" gradientUnits="userSpaceOnUse">
                                        <stop offset="0.1344" stop-color="{{invoice.theme.secColor}}" />
                                        <stop offset="1" stop-color="{{invoice.theme.priColor}}" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="body-shape2">
                            <svg width="498" height="405" viewBox="0 0 498 405" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M309.963 405H0V0H498L309.963 405Z" fill="url(#paint0_linear_307_1187)" />
                                <defs>
                                    <linearGradient id="paint0_linear_307_1187" x1="335.564" y1="-220.629" x2="335.564" y2="350.906" gradientUnits="userSpaceOnUse">
                                        <stop offset="0.1344" stop-color="{{invoice.theme.secColor}}" />
                                        <stop offset="1" stop-color="{{invoice.theme.priColor}}" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                    </div>
                    {% include ('tmp/buttons.html.twig') %}
                </div>


            </main>
        </div>
    </div>
    <!-- Invoice Conainter End -->
{% endblock %}
