{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}
{# {% block content_title %}{{ block('page_title') }}{% endblock %}

{% block main %}{{ block('page_content') }}{% endblock %} #}
{% block main %}
{# {{dump(invoices)}} #}

  <main class="container-fluid">
    <div class="row px-3">
      <div class="col-md-6">
        <h2>Create New Invoice</h2>
        <div class="card">
          <div class="card-body">
            <!-- Steps for creating an invoice -->
            <h5 class="card-title">Step 1: Add Company Details</h5>
            <p class="card-text">Enter your company name, logo, address etc.</p>
            <a href="{{urls['companyUrl']}}" class="btn btn-primary">Create Company</a>
            <hr>

            <h5 class="card-title">Step 2: Add Client's Information</h5>
            <p class="card-text">Add client's name, contact, company etc.</p>
            <a href="{{urls['clientUrl']}}" class="btn btn-primary">Manage Clients</a>
            <hr>

            <h5 class="card-title">Step 3: Set Template's Colors</h5>
            <p class="card-text">Choose a template and set primary and secondary colors.</p>
            <a href="{{urls['templatesUrl']}}" class="btn btn-primary">Manage Templates</a>
            <hr>

            <h5 class="card-title">Step 4: Add Notes</h5>
            <p class="card-text">Add personal notes for the client to be shown on the invoice.</p>
            <a href="{{urls['notesUrl']}}" class="btn btn-primary">Manage Notes</a>
            <hr>

            <h5 class="card-title">Step 5: Add Invoice Details</h5>
            <p class="card-text">Add Invoice No., due date, Total amount, Terms & Conditions etc.</p>
            <a href="{{urls['invoiceUrl']}}" class="btn btn-primary">Manage Invoice</a>
            <hr>

            <h5 class="card-title">Step 6: Add Invoice Items</h5>
            <p class="card-text">Add Invoice items, quantity, unit price, total amount.</p>
            <a href="{{urls['invoiceItemUrl']}}" class="btn btn-primary">Manage Invoice Items</a>
            <hr>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Recent Invoices</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Invoice Number</th>
              <th>Client Name</th>
              <th>Total Amount</th>
              <th>Date Created</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for invoice in invoices %}
            <tr>
              <td>{{invoice.invoiceNumber}}</td>
              <td>{{invoice.client.name}}</td>
              <td>{{invoice.totalAmount}}</td>
              <td>{{invoice.date|date('d-m-Y')}}</td>
              <td>
                <a href="#" class="btn btn-sm btn-info">View</a>
                <a href="#" class="btn btn-sm btn-danger">Delete</a>
              </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ render_chart(chart) }}
      </div>
    </div>

    </main>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe1mKYuCWbKdEzZrLlMrg85gM1mthGkGfwTqUHS3ybo9xD5YvQv/QZ" crossorigin=""

{% endblock %}

{# popular theme #}
{# history of invoices created by logged in user #}