<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %} Joe SEO Invoice Templates {% endblock %}</title>
    <meta name="author" content="themeholy">
    <meta name="description" content="Invar - Invoice HTML Template">
    <meta name="keywords" content="Invar - Invoice HTML Template" />
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('invoices/basic/assets/img/favicons/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('invoices/basic/assets/img/favicons/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('invoices/basic/assets/img/favicons/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('invoices/basic/assets/img/favicons/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('invoices/basic/assets/img/favicons/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('invoices/basic/assets/img/favicons/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('invoices/basic/assets/img/favicons/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('invoices/basic/assets/img/favicons/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('invoices/basic/assets/img/favicons/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('invoices/basic/assets/img/favicons/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('invoices/basic/assets/img/favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('invoices/basic/assets/img/favicons/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('invoices/basic/assets/img/favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('invoices/basic/assets/img/favicons/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('invoices/basic/assets/img/favicons/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">


    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset('invoices/basic/assets/css/bootstrap.min.css') }}">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{{ asset('invoices/basic/assets/css/style.css') }}">
    {% if invoice is defined and invoice != null %}
        {% if invoice.pages == "single_page" %}
            <link rel="stylesheet" href="{{ asset('invoices/basic/assets/css/print_single.css') }}">
        {% else %}
            <link rel="stylesheet" href="{{ asset('invoices/basic/assets/css/print_multi.css') }}">
        {% endif %}
    {% endif %}
    <link rel="stylesheet" href="{{ asset('invoices/css/spectrum.css') }}">
{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    {% block importmap %}{{ importmap() }}{% endblock %}
{% endblock %}
</head>
    <body>
        {% block body %}{% endblock %}
        <!--==============================
        All Js File
    ============================== -->
        <!-- Jquery -->
        <script src="{{ asset('invoices/basic/assets/js/vendor/jquery-3.6.0.min.js') }}"></script>
        <!-- Bootstrap -->
        <script src="{{ asset('invoices/basic/assets/js/bootstrap.min.js') }}"></script>
        <!-- PDF Generator -->
        <script src="{{ asset('invoices/basic/assets/js/jspdf.min.js') }}"></script>
        <script src="{{ asset('invoices/basic/assets/js/html2canvas.min.js') }}"></script>
        <!-- Main Js File -->
        <script src="{{ asset('invoices/basic/assets/js/main.js') }}"></script>
        <script src="{{ asset('invoices/js/spectrum.js') }}"></script>
        {% if invoice is defined and invoice is not null %}
        <script>
        $(document).ready(function(){
            $(".paint_btn").spectrum({
                preferredFormat: "hex",
                showInput: true,
                showPalette: true,
                color: "{{invoice.theme.priColor}}", // Set initial color
                showAlpha: true, // Allow transparency control
                change: function(color) {

                    // Update targeted elements' color on change
                    $("linearGradient").each(function(index) {
                        var firstStop = $(this).find("stop:first");
                        firstStop.attr("stop-color", color.toHexString()); // Your desired new color
                    });
                    $("table thead th").css({
                    "background": color.toHexString(),
                    "background": color.toHexString()
                    });
                    // Select all path elements within SVGs on the page
                    $('svg path:first-child:last-child').each(function() {
                        // Change the fill value to a new color for each path
                        $(this).attr('fill', color.toHexString()); // Replace with your desired color
                    });

                }
            });
            $(".paint_btn_2").spectrum({
                preferredFormat: "hex",
                showInput: true,
                showPalette: true,
                color: "{{invoice.theme.secColor}}", // Set initial color
                showAlpha: true, // Allow transparency control
                change: function(color) {

                    // Update targeted elements' color on change
                    $("linearGradient").each(function(index) {
                        var firstStop = $(this).find("stop:last");
                        firstStop.attr("stop-color", color.toHexString()); // Your desired new color
                    });
                    $("table thead th").css({
                    "background": color.toHexString(),
                    "background": color.toHexString()
                    });
                    $('svg path:first-child:last-child').each(function() {
                        // Change the fill value to a new color for each path
                        $(this).attr('fill', color.toHexString()); // Replace with your desired color
                    });

                }
            });
        });
        </script>
        {% endif %}
        {% block javascripts_bottom %}{% endblock %}

    </body>
</html>
