<div style="width:250px; height:100vh; max-height:350px; overflow:hidden; border: 1px solid #ccc;">
    <iframe id="preview-iframe" src="{{path('invoice_generator', {'i-n': 022024001})}}" style=" width: 400%; height: 130%; transform-origin: 0 0; transform: scale(0.25); min-height: 100vh;"></iframe>
</div>